<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
	<form name="form1" method="post" action="{:url('index/Uploadfile/index','','')}/record_id/1000" enctype="multipart/form-data">
	上传图片：<input type="file" name="file[]" multiple='multiple'>
		<input type="submit" value="提交表单">
		<input type="hidden" name="ac" value="upload">
	</form>
</body>
</html>